@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

body {
  background-image: linear-gradient(to bottom, rgb(29, 106, 119), rgb(0, 0, 0));
  height: 2000px;
}

header {
  font-family: 'Days One', sans-serif;
  font-size: 120%;
  color: rgb(99, 197, 164);
  margin: 10px;

}

p {
  font-family: 'Days One', sans-serif;
  font-size: 110%;
  color: #9aa6a8;
  margin: 20px;
}

a {
  font-family: 'Days One', sans-serif;
  font-size: 120%;
  color: rgb(99, 197, 164);
  margin: 10px;
}

li {
  font-family: 'Days One', sans-serif;
  font-size: 120%;
  color: #9aa6a8;
  margin: 10px;
}

      .guzior {
        font-family: 'Days One', sans-serif;
        font-size: 150%;
        color:#424f52;
        text-shadow: 0 0 5px rgb(159, 66, 1);
        width: 80%;
        height: 70px;
        margin: 15px;
        padding: 1px;
        border-radius: 35px;
        background-image: linear-gradient(to right, #CD6D07, #F2B322);
        box-shadow: inset 0px 10px 10px rgba(159, 66, 1, 0.9), 0 0px 20px 10px rgba(15, 35, 48, 0.8);
        transition-duration: 0.3s;
      }

      .guzior:hover {
        transform: translateX(10px);
        box-shadow: inset 10px 0px 10px rgba(159, 66, 1, 0.9), 0 0px 20px 10px rgba(15, 35, 48, 0.8);
        color: rgb(86, 202, 165);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
        transition-duration: 0.3s;
      }

      .guzior:active {
        border: 5px solid aquamarine;
      }

.headerinf1 {
font-family: 'Days One', sans-serif;
color: #bdcbce;
padding: 10px;
text-shadow: 0 0 5px rgb(159, 66, 1);
font-size: 150%;
}

.nawig {
margin-bottom: 5px;
}

.imag {
display: flex;
flex-direction: row;
justify-content: baseline;
max-height: 500px

}

      .trailercontainer {
      position: relative; 
      display: flex; 
      align-items: flex-start; 
      justify-content: center;
      border-radius: 25px;
      width: 100%;
      overflow: hidden;
      display: flex;
      height: 460px;
      box-shadow: inset 0 0px 20px 5px rgba(0, 0, 0, 0.589), inset 0 0px 20px 5px rgba(159, 66, 1, 0.363);
      }

      .trailercontainer video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      box-shadow: inset 0 0px 20px 5px rgba(0, 0, 0, 0.589), inset 0 0px 20px 5px rgba(159, 66, 1, 0.363);
      }


.flexbox > img{
min-width: 20%;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  justify-items: center;
  align-items: center;
  height: fit-content;
  width: auto;
  border-radius: 25px;
  margin-left: 10%; /* Same as the width of the sidebar */
  padding: 15px;
}

.mainbox {
  box-shadow: inset 0 0px 8px 0 rgba(129, 183, 187, 0.589), inset 0 0px 20px 0 rgba(122, 157, 173, 0.363);
  height: fit-content;
  max-width: 50%;
  border-radius: 25px;
  background-color: rgb(23, 33, 41, 0.5);
  margin-bottom: 25px;
  padding: 20px;
  margin: 25px;
}

.browsebox {
  display: flex;
  flex-direction: row;
  justify-self: center;
  max-width: 50%;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 20px;
  margin: 25px;
}

.mainboxtrailer {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  justify-items: top;
  justify-self: center; 
  align-self: center;
  box-shadow: inset 0 0px 8px 5px rgba(159, 66, 1, 0.7), 0 0px 20px 5px rgba(15, 35, 48, 0.8);
  height: fit-content;
  width: auto;
  border-radius: 25px;
  background-image: linear-gradient(to right, #CD6D07, #F2B322);
  margin-bottom: 25px;
  transition-duration: 1s;
}

.mainboxtrailer:hover {
  box-shadow: inset 0 0px 8px 5px rgba(159, 66, 1, 0.7), 0 0px 20px 5px rgba(127, 225, 212, 0.8);
  height: fit-content;
  width: auto;
  border-radius: 25px;
  margin-bottom: 25px;
  transition-duration: 0.15s;
}

.invdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pictureframe {
  display: inline-flex;
  box-shadow: inset 0 0px 8px 0 rgba(129, 183, 187, 0.589), inset 0 0px 20px 0 rgba(122, 157, 173, 0.363);
  height: fit-content;
  width: auto;
  border-radius: 10px;
  background-color: rgb(23, 33, 41, 0.5);
  margin-bottom: 25px;
  padding: 20px;
  margin: 25px;
}

.creatureframe {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  box-shadow: inset 0 0px 8px 0 rgba(129, 183, 187, 0.589), inset 0 0px 20px 0 rgba(122, 157, 173, 0.363);
  border-radius: 10px;
  background-color: rgb(23, 33, 41, 0.5);
  margin-bottom: 25px;
  padding: 2px;
  margin: 5px;
  justify-self: center;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(23, 33, 41, 0.5); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  box-shadow: inset -10px 0px 8px -10px rgba(129, 183, 187, 0.589), inset -10px 0px 20px -10px rgba(122, 157, 173, 0.363);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: 'helvetica';
  font-size: 25px;
  color: #818181;
  display: inline-flexbox;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ec8a3a;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px; font-family: 'helvetica';}
}